*{
    @include reseteo;

}

body{
    background-color: $colorback1;
    font: {
        family: 'Sofia';
        size: x-large;
        weight: bold;
    }

    header{
        display: flex;
        justify-content: space-between;
    } 

    nav{
        @extend %row;
        background-color: $colorback2;
    }

    ul{
        @extend %row;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

main{
    @include kawaii;
    text-align: center;
}


article{
    @extend %row;
    grid-template-columns: 2fr 2fr;
    @include kawaii;
}

footer{
    ul{
        @extend %rowmedia;
    }
    h3{
        text-align: center;
    }
    h5{
        text-align: center;
    }
}